@mixin flex($jc, $ai, $fd, $g) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    flex-direction: $fd;
    gap: $g;
}

.header {
    width: 100%;
    height: 3rem;
    background-color: var(--bg);
    @include flex(space-between, center, row, 1rem);
    padding: 0px 1rem;
}

.links {
    display: flex;
    gap: 1rem;
}
