.button {
    background-color: gray;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    padding: 0.2rem 0.875rem;
    white-space: nowrap;
    display: flex;
    &.selected {
        background-color: blue;
    }
}
